body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.img-cont {
    flex: 1;
}

.container {
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 20px;
}

.overlay {
    position: absolute;
    font-family: arial;
    color: #fff;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.177), #000000a0, #000);
    border-radius: 15px;
    transition: 300ms ease-in-out;

}

.texts {
    position: absolute;
    padding: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.name {
    font-weight: 999;
}
.age {
    font-size: 13px;
}

.btn {
    background: green;
    display: inline-flex;
    cursor: pointer;
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
} 

.btn:hover {
    background: darkgreen;
}

.img-cont1,
.img-cont2,
.img-cont3 {
    position: relative;
    background-position: center;
    background-size: 100%;
    transition: 300ms ease-in-out;
    background-repeat: no-repeat;
    width: 140px;
    height: 200px;
    border: 5px solid rgb(18, 99, 212);
    border-radius: 20px;
}

.img-cont1 {
    background-image: url(https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHBvcnRyYWl0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
}

.img-cont2 {
    background-image: url(https://images.unsplash.com/photo-1531123897727-8f129e1688ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBvcnRyYWl0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
}

.img-cont3 {
    background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydHJhaXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: 145%;
}

.img-cont1:hover .overlay {
    opacity: 1;
}

.img-cont1:hover {
    background-size: 105%;
}

.img-cont2:hover .overlay {
    opacity: 1;
}

.img-cont2:hover {
    background-size: 105%;
}

.img-cont3:hover .overlay {
    opacity: 1;
}

.img-cont3:hover {
    background-size: 152%;
}